/* Reseta algumas margens e espaçamentos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* Fundo preto para todo o site */
  color: #fff; /* Texto branco para contraste */
}

/* Estilos para a navbar */
.navbar {
  position: fixed; /* Fixa a navbar no topo da tela */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha ao lado esquerdo */
  width: 100%; /* Faz a navbar ocupar toda a largura */
  background-color: rgba(0, 0, 0, 0.5); /* Transparência com fundo escuro */
  color: white;
  z-index: 1000; /* Para garantir que a navbar fique acima de outros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease; /* Suaviza a transição da cor */
}

/* Estilo para a logo */
.navbar .logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* Estilo para os links de navegação */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

/* Menu ícone (para mobile, se necessário) */
.menu-icon {
  display: none;
}

/* Estilização da Imagem de Destaque */
#home .hero-image {
  position: relative;
    height: 100vh; /* Ocupa toda a tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Impede o conteúdo de sair da área do banner */
    margin-top: 90px; /* Espaço para a navbar */
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    color: #fff;
  }

  .nav-links a {
    font-size: 16px;
  }
}

/* Estilização para a seção Nossos Serviços */
#servicos {
  padding: 50px 20px;
  background-color: #000000; /* Fundo escuro para a seção de serviços */
  text-align: center;
}

#servicos h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fdff7a; /* Título com cor rosa */
  font-weight: bold;
}

.servicos-container {
  max-width: 1200px;
  margin: 0 auto;
}

.servicos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.servico {
  width: 30%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff; /* Fundo branco para os serviços */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.servico:hover {
  transform: translateY(-10px);
}

.servico-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.servico h3 {
  font-size: 24px;
  color: #070101; /* Cor escura para os títulos dos serviços */
  margin-top: 20px;
}

.servico p {
  font-size: 16px;
  color: #333; /* Cor do texto das descrições dos serviços */
  margin-top: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .servicos {
    flex-direction: column;
    align-items: center;
  }

  .servico {
    width: 80%;
  }
}
/* Estilização para a seção Contato */
#contato {
  padding: 50px 20px;
  background-color: #000000; /* Fundo escuro para contraste */
  text-align: center;
  color: #fff;
}

#contato h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fdff7a; /* Cor rosa para o título */
  font-weight: bold;
}

#contato p {
  font-size: 18px;
  margin-bottom: 40px;
}

.contato-container {
  max-width: 800px;
  margin: 0 auto;
}

.contato-form {
  background-color: #fff; /* Fundo branco para o formulário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #fdff7a; /* Bordas rosa quando em foco */
}

textarea {
  resize: vertical;
}

.btn-contato {
  background-color: #f1f3e6;
  color: #000000;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-contato:hover {
  background-color: #fdff7a; /* Cor de hover no botão */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .contato-form {
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .btn-contato {
    font-size: 16px;
  }
}

/* Estilos para a seção Sobre Nós */
#sobrenos {
  background-color: #000000;
  padding: 60px 20px;
  text-align: center;
}

.sobre-nos-container h2 {
  font-size: 36px;
  color: #fdff7a;
  margin-bottom: 20px;
}

.sobre-nos-container p {
  font-size: 18px;
  color: #fff5f5;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sobre-nos-imagem img {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .sobre-nos-container {
    padding: 40px 20px;
  }

  .sobre-nos-container p {
    font-size: 16px;
  }

  .sobre-nos-imagem img {
    max-width: 300px;
  }
}

